:root {
    --primary-color: #0AE187;
    --secondary-color: #ddd;
    --tertiary-color: #b8b8b8;
    --background-color: #0f172a;
}

body {
    font-family: 'Arial', sans-serif;
    width: 300px; /* Adjusted for simplicity */
    background-color: var(--background-color);
}

.logo {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo-img {
    height: 64px;
    margin-right: 20px;
}

.logo-text {
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: bolder;
}

.main-content {
    padding: 10px;
}

.today {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
    display: flex;
}

#current-carbon {
    color: var(--primary-color);
    margin-left: 10px;
    font-weight: bold; /* Highlight the emission amount */
}
